
## Theano-HEAD from git 

--allow-external theano
--allow-unverified theano
git+https://github.com/Theano/Theano.git#egg=theano


# Plotting of graphs
bokeh>=0.11.0
jsonschema

# iPython Notebook 
ipython>=3.1.0

# Visualization of theano graphs
pydot 

## This is for Python word2vec
#gensim

## This is a hd5 pickler (fast)
#hickle

