
### Theano

## Theano-HEAD from git 
#
#--allow-external theano
#--allow-unverified theano
#git+https://github.com/Theano/Theano.git#egg=theano

#theano>=0.7.0

# Better (required by keras, if we use the theano backend) - and fixes 'pool' problem
# --no-deps 
git+git://github.com/Theano/Theano.git#egg=theano

# Try the Theano 'master'
#https://github.com/Theano/Theano/archive/master.zip



### Keras

##   It doesn't matter that it's the PyPI version, since we're going to be using the TensorFlow backend
##     ...  except that TensorFlow eats RAM : theano is a better choice to workshop
## This bundles theano in... (14.7Mb)
#keras>=0.3.2 

# Better (required if we use the tensorflow backend)
# --no-deps 
git+git://github.com/fchollet/keras.git



### Lasagne

## Lasagne 'master'
https://github.com/Lasagne/Lasagne/archive/master.zip



### Tensorflow 
https://storage.googleapis.com/tensorflow/linux/cpu/tensorflow-0.7.1-cp27-none-linux_x86_64.whl



# Plotting of graphs (dynamic, beautiful)
#bokeh>=0.11.0
#jsonschema

# Plotting of graphs (simpler, but beautiful too)
#seaborn

# iPython Notebook 
#ipython>=3.1.0

# Jupyter (the new new thing)
jupyter


# Visualization of theano graphs
pydot2
## For explanation : http://stackoverflow.com/questions/15951748/pydot-and-graphviz-error-couldnt-import-dot-parser-loading-of-dot-files-will
pyparsing==1.5.7

## This is for Python word2vec
#gensim

## This is a hd5 pickler (fast)
#hickle

## This is a Pythonic interface to the HDF5 binary data format (used for keras-VGG16 weights reading)
h5py>=2.5.0

## Requests is only used in the GPU chooser, which is a pity.  OTOH, it's a good library
requests>=2.9.0
