
### Theano - actually : NO, it's being phased out

## Theano-HEAD from git 
#
#--allow-external theano
#--allow-unverified theano
#git+https://github.com/Theano/Theano.git#egg=theano

#theano>=0.7.0

# Better (required by keras, if we use the theano backend) - and fixes 'pool' problem
# --no-deps 
#git+git://github.com/Theano/Theano.git#egg=theano

# Try the Theano 'master'
#https://github.com/Theano/Theano/archive/master.zip


### Keras

##   It doesn't matter that it's the PyPI version, since we're going to be using the TensorFlow backend
##     ...  except that TensorFlow eats RAM : theano is/was a better choice to workshop
## This bundles theano in... (14.7Mb)
#keras>=0.3.2 

# Better (required if we use the tensorflow backend)
# --no-deps 
#git+git://github.com/fchollet/keras.git
#keras>=2.0.4

# Even though Keras is *inside* TensorFlow...  IT LAGS BADLY...


### Lasagne - NOPE, this is/was a Theano thing

## Lasagne 'master'
#https://github.com/Lasagne/Lasagne/archive/master.zip


### TensorFlow

# CPU version
tensorflow>=1.6.0

# If you're running locally, this needs CUDA toolkit 9.0 and CuDNN v7
#tensorflow-gpu>=1.6.0


# Jupyter (previously iPython)
jupyter


### PyTorch (NEW!)
# CPU version
http://download.pytorch.org/whl/cpu/torch-0.3.1-cp36-cp36m-linux_x86_64.whl 

# GPU version  CUDA 9.0
#http://download.pytorch.org/whl/cu90/torch-0.3.1-cp36-cp36m-linux_x86_64.whl 


## Requests is only used in the GPU chooser, which is a pity.  OTOH, it's a good library
requests>=2.9.0

## Beautiful soup : Useful for parsing web pages (specifically for the GPU-chooser notebook)
bs4

## For the speech module (MFCC, etc)
python_speech_features

## For the OGG/WAV (++?) reader
soundfile



# Visualization of theano graphs (now updated for Python3)
#pydot

## For explanation : http://stackoverflow.com/questions/15951748/pydot-and-graphviz-error-couldnt-import-dot-parser-loading-of-dot-files-will
#pyparsing==1.5.7

## This is a hd5 pickler (fast)
#hickle

## This is a Pythonic interface to the HDF5 binary data format (used for keras-VGG16 weights reading)
h5py>=2.5.0



### Potentially replace these with spaCy
## This is for Punkt and TreeBank tokenizers
nltk>=3.2.1

## This is for the GloVE word embedding package :: https://github.com/maciejkula/glove-python
glove_python>=0.1.0

## This is for Python word2vec
gensim



### spaCy alternative to nltk/glove (except that raw embeddings not parseable (?)
# Defeat cuda include directory detection in the thinc installer ...
# CUDA_HOME=IGNORE_CUDA pip install -U thinc

#spacy>=2.0.5,<3.0.0
#https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.0.0/en_core_web_sm-2.0.0.tar.gz#en_core_web_sm

# To directly download the english corpus for spaCy >2, also need to do 
#   (no longer Makefile, since the requirement line above should do the same thing) :
# python -m spacy download en_core_web_sm

#  Try : python -m spacy validate




# Plotting of graphs (dynamic, beautiful)
#bokeh>=0.11.0
#jsonschema

# Plotting of graphs (simpler, but beautiful too)
#seaborn

# Nope : Continue to do this using the included script
#nbstripout
